.btn2 {
    background-color: rgb(231, 61, 95);
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    box-shadow: 2px 2px black;
}
.btn2:hover {
    color:white;
}
.btn2:active {
    color:rgb(0, 0, 0);
}

.h1 {
    text-shadow: 0.1em 0.1em 0.2em rgb(77, 74, 74);
    font-style: italic;
    color: rgb(160, 7, 7);

}

.btn3 {
    background-color: rgb(220, 87, 114);
    color: white;
    text-decoration: none;
    border-radius: .5rem;
    padding: 2%;
    width: 150%;
    box-shadow: 2px 2px black;

}