.btn {
    background-color: rgb(143, 5, 33);
    color: white;
    text-decoration: none;
    border-radius: .5rem;
    padding: 2%;

}


    .btnt:hover {
        background-color: #00D264;
        color: black;
    }
    
    .btnt {
        border-color: rgba(0, 0, 0, 0.8);
        background-color: #06ee76;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.cont1{
    align-content: center;
    vertical-align: middle;
}

.h2 {
    text-shadow: 0.1em 0.1em 0.2em white;
    font-style: italic;
    color: rgb(188, 220, 47);

}
.h3 {
    font-weight: bolder;
    text-shadow: 0.2em 0.2em 0.3em rgb(142, 139, 139);
}

.btn3 {
    background-color: rgb(220, 87, 114);
    color: white;
    text-decoration: none;
    border-radius: 1rem;
    padding: 0.3rem 0.4rem;
    width: 150%;
    
}

.btnproducto {
    padding-top: 10px;
    background-color: antiquewhite;
}

.bodyProductos {
   text-align: left;
   
}

.btnR {
    background-color: #FF6B0D;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }


.btnG {
    margin-left: 1300px;
}

.btn2{
    background-color: #ffb486;
}
.btn2:hover{
    background-color: #ff6200;
}