
.animate__animated.animate__zoomIn {
    --animate-duration: 10s;
  }

.img1 {
  padding-left: 100px;
  margin-top: -100px;
  
}


.carruselColor {
  background-color: #ee9031;
}

.carrusel1 {
  width: 10%;
}

.banner {
  border-radius: 10%;
  border-color: black;
  box-shadow: 2px 2px rgba(255, 165, 0, 0.40);
}