.h3 {
    font-weight: bolder;
    text-shadow: 0.2em 0.2em 0.3em rgb(142, 139, 139);
}

.btn2 {
    background-color: rgb(231, 61, 95);
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    box-shadow: 2px 2px black;
}
.btn2:hover {
    color:white;
}
.btn2:active {
    color:rgb(0, 0, 0);
}


    .btn3:hover {
        background-color: #FFAC15;
        color: black;
    }
    
    .btn3 {
        border-color: rgba(0, 0, 0, 0.8);
        background-color: rgba(255, 165, 0, 0.30);
        border-radius: 1rem;
        text-decoration: none;
        display: flex;
        justify-content: end;
        margin-left: 420px;
    }
    
